@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;600&display=swap');

:root {
    --bordes: 1px solid black;
    --fuente: Roboto Mono;
    --main-color: #3b38ff;
    --error-color: #ff2323;
}

body {
    font-family: var(--fuente);
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    grid-template-rows: 0fr 5fr 0fr;
    grid-template-areas: 
    'header header'
    'aside main'
    'footer footer';
}

header {
    grid-area: header; 
    font-weight: 600;
    font-size: 20pt;
    
    display: grid; 
    align-content: center; 
    justify-content: center;
}

aside { 
    grid-area: aside; 

    display: grid;
    justify-content: center;
    align-content: center;
    gap: 50px;
    padding: 30px
}


main { 
    grid-area: main; 
    
    display: grid;
    align-content: center;
    justify-content: center;
    gap: 10px;
}

footer { 
    grid-area: footer; 
    
    display: grid; 
    align-content: center; 
    text-align: right; 
    padding: 20px;
    background-color: var(--main-color);
}

footer > p {margin: 0;}

button { 
    width: 280px; 
    height: 50px;
    font-size: 15pt;
    font-family: var(--fuente);
    border: var(--bordes);
    background-color: transparent;
}

button:hover:enabled{
    border: var(--main-color) 2px solid;
}
button:active{
    background-color: var(--main-color);
}
button:disabled{
    border-color: lightgray;
}
button:disabled:hover{
    background: repeating-linear-gradient(-45deg,transparent, transparent 8px, red 8px, red 16px);
    cursor: not-allowed;
    border-color: red;
}

main > * {
    border: var(--bordes);
    border-style: solid;
    padding: 20px;
}

#contenedor-fechas {
    display: grid;
    grid-template-areas: 
    'texto1 texto2'
    'input1 input2'
    'aclaracion aclaracion'
    'aclaracion2 aclaracion2';
    gap: 10px;
} 

#contenedor-fechas > p { margin: 0px } 

#fecha-desde { grid-area: input1 }

#fecha-hasta { grid-area: input2 }

input[type="date"] { 
    color: var(--main-color);
    font-family: var(--fuente);
    height: 50px;
    width: 200px;
    font-size: 15pt;
}

input { cursor: pointer;}

.aclaracion {
    font-size: 10pt;
    font-weight: 100;
    margin: 0;
}

#aclaracion{
    grid-area: aclaracion2;
}

#error {
    color:var(--error-color);
    grid-area: aclaracion;
}

#contenedor-tipo-transporte{
    display: grid;
    grid-template-columns: repeat(4, 0.15fr 1fr);
    align-items: center;
    gap: 10px;
}

#contenedor-tipo-transporte > input {
    width: 100%;
    height: 100%;
    justify-self: center;
    background-color: var(--main-color);
}

#contenedor-tipo-transporte > label {
    padding-left: 10px;
}

#contenedor-tipo-transporte > p {
    grid-column-start: 1;
    grid-column-end: -1;
}

/* BORDES */

header, footer {border: var(--bordes);}
aside{ border-left: var(--bordes); border-right: var(--bordes);}
main { border-right: var(--bordes);}